body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(144, 94, 118, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.app-title {
  margin-top: 75px;
  margin-bottom: 50px;
  font-size: 75px;
  color: goldenrod;
  font: Poiret One;
}
